* {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
}

body {
        font-family: Georgia, serif;
}

.navbar {
	background: #000000;
	font-size: 18px;
	display: flex;
	justify-content: space-around;
	padding-bottom: 0;
	align-items: center;
	height: 125px;
}

.main-nav-link {
	color: #ffffff;
	list-style-type: none;
	text-decoration: none;
	padding: 15px;
}


.logo {
	margin-left: 40px;
	margin-right: auto;
}

.main-nav {
	display: flex;
	margin-right: 30px;
	list-style-type: none;
}

.main-nav li 
	margin: 0;
}

