* {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
}

body {
        font-family: Georgia, serif;
	font-size: 16px;
	color: #0A1C56;
}

h1 {
	color: #1A1D1A;
	font-size: 48px;

}

h2 {
	font-size: 36px;
	color: #1A1D1A;

}

/* Navigation Bar styling */
.navbar {
	background: #000000;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	padding-bottom: 25px;
	align-items: center;
	width: 100%;
}

.main-nav-link {
	color: #ffffff;
	list-style-type: none;
	text-decoration: none;
	padding: 15px;
}


.logo {
	align: center;
	margin-bottom: 25px;
	margin-top: 15px;
}

.main-nav {
	display: flex;
	margin-right: 30px;
	list-style-type: none;
}

.main-nav li 
	margin: 0;
}

@media only screen and (min-width: 750px) {
  .navbar {
	display: flex;
	flex-direction: column;
	background: #ff3312;
  }

.navbar {
        background: #03120E;
        font-size: 18px;
        display: flex;
        justify-content: space-around;
        padding-bottom: 0;
        align-items: center;
        height: 125px;
}


}

/* Contact Form Styling */

.hero {
	min-height: 200px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	align-content: center;
	flex-direction: column;
	justify-content: center;
}	

.hero h1 {
	padding-bottom: 25px;
	
}

.contact-form {
	display: flex;
	flex-direction: column;

}

.contact-wrapper {
	background: #CCDBDC;
	min-height: 300px;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;

}

.contact-wrapper h2 {
	text-align: center;
	padding-bottom: 25px;	
}


label {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}

.contact-form {
	display: flex;
	flex-direction: column;
	text-align: center;	
}


.contact-form input {
	width: 250px;


}

textarea {
  width: 250px;
  height: 100px;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  resize: none;
}

.contact-button {
  background-color: #69005A;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 250px;
}


@media screen and (max-width: 600px) {

.hero {
	min-height: 400px;
}

.contact-wrapper {
	min-height: 600px;
}

}
